

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;

    background: var(--ml-surface-container);
    border-bottom: 2px solid var(--ml-outline);
}

.nav-links {
    display: flex;
    gap: 20px;

}
.nav-logo{
    font-size: 13px;
    font-family: 'Tahoma', 'MS Sans Serif', Arial, sans-serif;
}
.nav-link, .theme-btn {
    font-size: 11px;
    letter-spacing: 0.06em;
    color: var(--ml-on-surface-variant);
    text-decoration: none;
    padding: 6px 10px;
    font-family: 'Tahoma', 'MS Sans Serif', Arial, sans-serif;

    background: var(--ml-surface-container);
    border: 3px solid var(--ml-border-1);
    border-right-color: var(--ml-border-4);
    border-bottom-color: var(--ml-border-3);
    border-left-color: var(--ml-border-2);
}

.nav-link:hover {
    background-color: var(--ml-secondary);
    color: var(--ml-on-primary);
}



.nav-right-side {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}


.version-num {
    font-size: 10px;
    color: var(--ml-outline-variant);
}

.theme-btn{

    background-color: var(--ml-turnon);
    color: white;

}

@media (max-width: 420px) {

    /* Hide logo/title */
    .nav-left-side {
        display: none;
    }

    .nav-logo{
        display: none;
    }

    /* Hide version text */
    .version-num {
        display: none;
    }

    .nav {
        padding: 8px;
    }

    .nav-links {
        gap: 4px;
    }

    .nav-right-side {
        gap: 4px;
    }

    .nav-link,
    .theme-btn {
        padding: 4px 6px;
        font-size: 9px;
        border-width: 2px;
    }
}
