.window{
    height: 100%;

    /*border-color: #ffe037;*/
    /*border-width: 10px;*/
    background: var(--ml-bg);
    border: 2px solid;
    border-top-color: var(--ml-border-1);
    border-left-color: var(--ml-border-2);
    border-bottom-color: var(--ml-border-3);
    border-right-color: var(--ml-border-4);
    font-family: 'Hanken Grotesk', system-ui, sans-serif;
}

/*=========== TITLE BAR ============*/
.window-title-gradient {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #000080 0%, #1084d0 100%);
    justify-content: space-between;
    color: white;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

.win98-button {
    background: #e6e2d7;
    color: #1c1c15;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    font-weight: 700;
    border: 2px solid;
    border-top-color: var(--ml-border-1);
    border-left-color: var(--ml-border-2);
    border-bottom-color: var(--ml-border-3);
    border-right-color: var(--ml-border-4);
    border-width: 0px;
    outline: 1px solid #1c1c15;
    box-shadow: inset 1px 1px #fdf9ee;

    width: 10px;
    height: 23px;
}
.win98-button:active {
    border-top-color: var(--ml-border-3);
    border-left-color: var(--ml-border-4);
    border-bottom-color: var(--ml-border-1);
    border-right-color: var(--ml-border-2);
    box-shadow: inset 1px 1px #c0c8c6;
    padding: 5px 11px 3px 13px;
}
