.hero {
    position: relative;
    margin-top: 130px;
    width: 100%;
    /*height: 85vh;*/
    padding: 20px;

    /*border-color: #0d0e0f;*/
    /*border-width: 20px;*/
}

.hero-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 70% 30%;
    align-content: center;
    position: relative;
    /*height: 60vh;*/
    /*padding: 0px;*/


    /*border-color: #1caa1c;*/
    /*border-width: 10px;*/


}

.hero-content-right{
    height: 100%;
    display: flex;
    gap: 20px;
    /*margin: 30px;*/
    padding: 20px;
    flex-direction: column;


    /*border-color: #c51894;*/
    /*border-width: 10px;*/
}
.hero-content-left{
    height: 100%;

    /*margin: 30px;*/
    padding: 30px;

    /*border-color: #152fa3;*/
    /*border-width: 10px;*/
}