.hero {
    position: relative;
    margin-top: 130px;
    width: 100%;
    padding: 20px;
}

.hero-content {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;

    align-items: start;
    position: relative;
}

.hero-content > * {
    min-width: 0;
}

.hero-content-left {
    height: 100%;
    padding: 30px;
    min-width: 0;
}

.hero-content-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    min-width: 0;
}

@media(max-width: 1024px) {

    .hero-content {
        gap: 5px; /* reduced spacing */
    }

    .hero-content-left {
        padding: 20px;
    }

    .hero-content-right {
        padding: 16px;
    }
}
@media (max-width: 920px) {

    .hero-content {
        grid-template-columns: 1fr;
    }

    .hero-content-left,
    .hero-content-right {
        padding: 16px;
    }
}

@media (max-width: 320px) {

    .hero{
        padding: 0;
        margin-top: 60px;

    }

}